form{
  background-color: white;
  font-family: Arial, sans-serif;
  padding: 10px;
}
input, textarea{
  margin-top: 10px;
  background-color: #f1f1f1;
}

input[type=text], input[type=email], textarea{
  width: 75%;
  padding: 10px;
  margin: 10px 0px;
  color: blue;
}
body{
  margin: 20px 20px;
  font-family: sans-serif;
}
footer{
  font-size: small;
  text-align: center;
}
header{
  text-align: center;
}
select {
  font-size: 1em;
  width: 15%;
  padding: 16px 20px;
  background-color: #f1f1f1;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
}
fieldset{
  background-color: #f1f1f1;
}
